.btn {
  display: flex;
  justify-content: CENTER;
  background-color: rgb(0, 102, 255);
  color: white;
  width: 200px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.CART {
  display: flex;
  flex-direction: ROW;
  justify-content: space-AROUND;
}
.btn1 {
  display: flex;
  justify-content: CENTER;
  background-color: rgb(0, 102, 255);
  color: white;
  width: 10px;
}
.btn2 {
  display: flex;
  justify-content: CENTER;
  background-color: rgb(0, 102, 255);
  color: white;
  width: 10px;
}
.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn6 {
  display: flex;
  justify-content: CENTER;
  background-color: rgb(0, 102, 255);
  color: white;
  width: 200px;
}
p {
  display: inline;
  margin: 0;
  padding: 0;
}
.heart {
  color: red;
}
#deleteBtn {
  display: flex;
  justify-content: CENTER;
  background-color: rgb(0, 102, 255);
  color: white;
  width: 200px;
}
.r {
  color: black;
}
#r {
  color: aqua;
}
